.main-intro {
    background: #A4C3B2;
background: linear-gradient(60deg,
 #A4C3B2 50%,
 #CCE3DE 25%,
  #EAF4F4 100%,
  #6B9080 0%);

  height: 100vh;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.main-intro div {
    height: 60%;
    overflow: hidden;
}

.main-intro-left{
    display: flex;
    align-items: center;
}



